@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Quicksand', sans-serif;
}
.cabecera{
  width: 100%;
  height: 150px;
  background-image: url('../../../public/Header.jpg'); 
  background-size: cover;
  background-position: center;
  color:#ddd ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
}
.cabecera::before {
  content: ''; /* Elemento vacío para la capa */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Color negro con opacidad */
  z-index: 1; /* Coloca la capa sobre la imagen */
}
.cabecera * {
  position: relative; /* Asegura que el contenido del div esté encima de la capa */
  z-index: 2;
}

h1 {
  padding: 0;
  margin: 0;
}
.refran{
  padding: 0;
  margin: 0;
  font-size: 13px;
}
