@font-face {
    font-family: 'Sansita';
    src: url(./assets/fonts/Sansita/Sansita-Regular.ttf) format('opentype');
    font-weight: normal;
    font-style:;
}
body {
    font-family: 'Sansita', sans-serif;
}
